<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/profile.css">
    <!-- responsive -->
    <link rel="stylesheet" href="../style/responsive.css">

    <title>My Profile | GameBox</title>
</head>

<body>
    <header>
        <div class="container">
            <h2 class="logo"><a href="../index.html">GAMEBOX</a></h2>
            <nav>
                <a href="../index.html"><i class="fa-solid fa-house"></i></a>
                <a href="freegames.html"><i class="fa-solid fa-percent"></i></a>
                <a href="#"><i class="fa-solid fa-user"></i></a>
            </nav>
        </div>
    </header>

    <main>
        <div class="main container">
            <div class="personal-information">
                <div class="profile-picture">
                    <img src="../src/img/profile.jpg" alt="">
                </div>
                <h2>Liv Nascimento</h2>
                <div class="social-media">
                    <a href="https://github.com/livnascimento" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="https://open.spotify.com/user/1x2oot646of8hjz6ebqlxq1se?si=bff13e5b937f4585" target="_blank">
                        <i class="fa-brands fa-spotify"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/livnascimento/" target="_blank>">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="cards">
                <div class="card settings">
                    <h5>Your Resources</h5>
                    <div class="cards-wrapper resources">
                        <div class="card coins">
                            <i class="fa-solid fa-coins"></i>
                            <span>13</span>
                        </div>
                        <div class="card achievement">
                            <i class="fa-solid fa-trophy"></i>
                            <span>63</span>
                        </div>
                    </div>
                </div>
                <div class="card game-information">
                    <h5>Playing Hours</h5>
                    <div class="card hours">
                        <i class="fa-solid fa-clock"></i>
                        <span>63</span>
                    </div>
                    <h5>Favorite Games</h5>
                    <div class="cards-wrapper favorite-games">
                        <div class="card game">
                            <img src="../src/img/jogo1.jpg" alt="">
                            <span>Mobile Legends</sp>
                        </div>
                        <div class="card game">
                            <img src="../src/img/jogo2.jpg" alt="">
                            <span>League of Legends</span>
                        </div>
                        <div class="card game">
                            <img src="../src/img/jogo3.jpg" alt="">
                            <span>Faeria</span>
                        </div>
                        <div class="card game">
                            <img src="../src/img/jogo4.jpg" alt="">
                            <span>Fortnite</span>
                        </div>
                        <div class="card game">
                            <img src="../src/img/jogo5.png" alt="">
                            <span>Valorant</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://kit.fontawesome.com/5d8e5b5b4e.js" crossorigin="anonymous"></script>
    <script src="../js/owl/jquery.min.js"></script>
    <script src="../js/owl/owl.carousel.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>